/* * Contenedor cover page */
.wrapper{
    background-color:  #1E213A;
    height: 100vh; 
    width: 100%;
    position: relative;
    transition: width .5s ease;
}

/* * fondo de nubes  */
.wrapper .background-cloud{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25px;
    left: 0;
}

.wrapper .background-cloud img{
    width: 100%;
    height: 100%;
    opacity: .05;
}

/* * Header de button */
.wrapper .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px 15px 2px 15px;
}

.wrapper .header .search{
    text-decoration: none;
    padding: 8px 14px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    background-color: #6E707A;
    cursor: pointer;
    z-index: 9;
   
}
.wrapper .header .search:hover{
    background-color: #FFEC65;
    opacity: .6;
    color: #1A1D22;
}
.wrapper .header .location{
    cursor: pointer;
    background: #6E707A;
    color: #ffffff;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all .2s ease-out;
    z-index: 9;
}
.wrapper .header .location:hover{

    background-color: #FFEC65;
    opacity: .6;
    color: #1A1D22;
}
.click{
    background-color: #FFEC65  !important;
    opacity: .6 !important;
    color: #1A1D22 !important;
}

.wrapper .outstanding{
    text-align: center;
    position: relative;
    color: #ffffff;
    height: 90%;
}


.wrapper .outstanding .weather img{
    width: 9em;
    height: 100%;
    padding-top:1.8em;
}

.wrapper .outstanding .temperature{
    display: block;
    font-size: 90px;
    font-weight: 400;    
    padding: 5px 10px;
}

.wrapper .outstanding .temperature .centigrade{
    font-size: 30px;
    font-weight: 500;
    color: rgb(160, 159, 177);
}

.wrapper .outstanding .status-weather{
    font-size: 28px;
    font-weight: 600;
    margin-top: .5em;
    margin-bottom: .6em;
    color: rgb(160, 159, 177);

}

.wrapper .outstanding .date{
    width: 180px;
    margin: 0 auto;
    font-size: 20px;
    font-size: 400;
    color: rgb(160, 159, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.wrapper .outstanding .map{
    width: 120px;
    margin: 1em auto 50px auto;
    /* font-size: 18px; */
    font-weight: 400;
    color: rgb(160, 159, 177);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper .outstanding .map span{
    font-size: 20px;
}

.search-content{
    width: 100%;
    height: 100%;
    background-color:  #1E213A;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    transition: all ease 1s;
    padding: 20px;
    z-index: 10;
}
.search-content.active{
    visibility: visible;
    animation: search 1s;
}
.search-content.exit{
    visibility: hidden;
    animation: exit 1s;
}
@keyframes search{

    0%{
        opacity: 0;
        transform: translateX(-400px);
    }100%{
  
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes exit{

    0%{
        opacity: 1;
        transform: translateX(0); 
    }100%{
  
        opacity: 0;
        transform: translateX(-400px);
    }

}
.close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    color: #6E707A;
    margin-bottom: 20px;
}
.close i{
    cursor: pointer;
}
.form-search{
    height: 50px;
    /* padding: 5px; */
    width: 100%;
    margin-bottom: 30px;
}
.form-search #location{
    background-color: transparent;
    color: white;
    font-size: 16px;
    height: 100%;
    padding: 5px;
    width: 65%;
    border: none;
    border: 1px solid #6E707A;
    border-radius: 3px;
}

.form-search #search{
    margin-left: 10px;
    background-color: #3C47E9;
    color: white;
    font-size: 16px;
    width: 27%;
    height: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.location-concurrent{
    padding: 5px;
    margin-top: 10px;
}
.location-concurrent .item{
    list-style: none;
    padding: 15px 10px;
    margin-bottom: 35px;
    color: #6E707A;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    /* transition: all .5s ease; */
}
.location-concurrent .item:hover{
    border: 1px solid #6E707A;
}
.location-concurrent .item a{
    text-decoration: none;
    color: white;
}