<div class="wrapper">
    <div class="header">
        <a class="celcius active" href="#">°C</a>
        <a class="fahrenheit" href="#">°F</a>
    </div>
    <div class="container-cards">
        <div class="card">
            <p class="title">{{weather.data[1].date}}</p>
            <div class="weather-img">
                <img src="{{weather.data[1].icon}}" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">{{weather.data[1].temp_max}}°C</p>
                <p class="">{{weather.data[1].temp_min}}°C</p>
            </div>

        </div>

        <div class="card">
            <p class="title">{{weather.data[2].date}}</p>
            <div class="weather-img">
                <img src="{{weather.data[2].icon}}" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">{{weather.data[2].temp_max}}°C</p>
                <p class="">{{weather.data[2].temp_min}}°C</p>
            </div>

        </div>

        <div class="card">
            <p class="title">{{weather.data[3].date}}</p>
            <div class="weather-img">
                <img src="{{weather.data[3].icon}}" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">{{weather.data[3].temp_max}}°C</p>
                <p class="">{{weather.data[3].temp_min}}°C</p>
            </div>

        </div>

        <div class="card">
            <p class="title">{{weather.data[4].date}}</p>
            <div class="weather-img">
                <img src="{{weather.data[4].icon}}" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">{{weather.data[4].temp_max}}°C</p>
                <p class="">{{weather.data[4].temp_min}}°C</p>
            </div>

        </div>
    </div>

    <div class="weather-details">

        <p class="title">Today's Hightlights</p>
        <div class="detail-card">
            <div class="card">
                <div class="title">
                    <p>Wind status</p>
                </div>
                <div class="body">
                    <p>{{weather.data[0].windSeed}}<span>mph</span></p>
                </div>

                <div class="footer">
                    <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <p>Humidity</p>
                </div>
                <div class="body">
                    <p>{{weather.data[0].humidity}}<span>%</span></p>
                </div>

                <div class="footer">
                    <!-- <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>  -->
                    <div class="progress">
                        <p class="measure">
                            <span>0</span>
                            <span>50</span>
                            <span>100</span>
                        </p>
                        <p class="unit">
                            <span>%</span>
                        </p>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <p>Visibility</p>
                </div>
                <div class="body">
                    <p>{{weather.data[0].visibility}}<span>miles</span></p>
                </div>

                <div class="footer">
                    <!-- <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>  -->
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <p>Air Pressure</p>
                </div>
                <div class="body">
                    <p>{{weather.data[0].pressure}}<span>mb</span></p>
                </div>

                <div class="footer">
                    <!-- <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>  -->
                </div>
            </div>
        </div>
    </div>

</div>