<div class="wrapper">
    <div class="header">
        <a class="celcius active" href="#">°C</a>
        <a class="fahrenheit" href="#">°F</a>
    </div>
    <div class="container-cards">
        <div class="card">
            <p class="title">Tomorrow</p>
            <div class="weather-img">
                <img src="https://openweathermap.org/img/wn/11d@2x.png" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">16°C</p>
                <p class="">11°C</p>
            </div>

        </div>

        <div class="card">
            <p class="title">Tomorrow</p>
            <div class="weather-img">
                <img src="assets/img/Thunderstorm.png" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">16°C</p>
                <p class="">11°C</p>
            </div>

        </div>

        <div class="card">
            <p class="title">Tomorrow</p>
            <div class="weather-img">
                <img src="assets/img/Thunderstorm.png" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">16°C</p>
                <p class="">11°C</p>
            </div>

        </div>

        <div class="card">
            <p class="title">Tomorrow</p>
            <div class="weather-img">
                <img src="assets/img/Thunderstorm.png" alt="weather">
            </div>
            <div class="temperatures">
                <p class="">16°C</p>
                <p class="">11°C</p>
            </div>

        </div>
    </div>

    <div class="weather-details">

        <p class="title">Today's Hightlights</p>
        <div class="detail-card">
            <div class="card">
                <div class="title">
                    <p>Wind status</p>
                </div>
                <div class="body">
                    <p>7<span>mph</span></p>
                </div>

                <div class="footer">
                    <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <p>Humidity</p>
                </div>
                <div class="body">
                    <p>84<span>%</span></p>
                </div>

                <div class="footer">
                    <!-- <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>  -->
                    <div class="progress">
                        <p class="measure">
                            <span>0</span>
                            <span>50</span>
                            <span>100</span>
                        </p>
                        <p class="unit">
                            <span>%</span>
                        </p>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <p>Visibility</p>
                </div>
                <div class="body">
                    <p>6,4<span>miles</span></p>
                </div>

                <div class="footer">
                    <!-- <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>  -->
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <p>Air Pressure</p>
                </div>
                <div class="body">
                    <p>998<span>mb</span></p>
                </div>

                <div class="footer">
                    <!-- <p><i class="fas fa-location-arrow"></i> </p><span>WSW</span>  -->
                </div>
            </div>
        </div>
    </div>

</div>